<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex justify-content-end" [@animacao-banner]="estadoBanner">
      <app-banner></app-banner>
    </div>

    <div *ngIf="cadastro; else formLogin">
      <div class="col-sm-6 d-flex justify-content-start" [@animacao-painel]="estadoBanner">
        <app-cadastro></app-cadastro>
        </div> 
    </div>
    <ng-template #formLogin>
      <div class="col-sm-6 d-flex justify-content-start" [@animacao-painel]="estadoBanner">
        <app-login (exibirPainel)="exibirPainel($event)"></app-login>
        </div> 
    </ng-template>



     
  </div>
</div>
