<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Jorge</strong></p>
      </div>

      <img class="card-img" src="/assets/posts/img1.png" />
      
      <div class="card-body">
        <p class="card-text">
          <strong>Jorge</strong> foi um belo dia no parque!
        </p>

        <hr />
        <input 
          type="text" 
          class="form-control comentario"
          placeholder="Adicione um comentário..." 
        />
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Jorge</strong></p>
      </div>

      <img class="card-img" src="/assets/posts/img2.png" />
      
      <div class="card-body">
        <p class="card-text">
          <strong>Jorge</strong> pra você também!
        </p>

        <hr />
        <input 
          type="text" 
          class="form-control comentario"
          placeholder="Adicione um comentário..." 
        />
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col d-flex justify-content-center">
    <div class="card">
      <div class="card-body">
        <p class="card-text"><strong>Jorge</strong></p>
      </div>

      <img class="card-img" src="/assets/posts/img3.png" />
      
      <div class="card-body">
        <p class="card-text"></p>

        <hr />
        <input 
          type="text" 
          class="form-control comentario"
          placeholder="Adicione um comentário..." 
        />
      </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-center">
      <div class="card">
        <div class="card-body">
          <p class="card-text"><strong>Jorge</strong></p>
        </div>

        <img class="card-img" src="/assets/posts/img4.png" />
        
        <div class="card-body">
          <p class="card-text"></p>

          <hr />
          <input 
            type="text" 
            class="form-control comentario"
            placeholder="Adicione um comentário..." 
          />
        </div>
      </div>
    </div>
  </div>